button{
  border: none;
  background-color: transparent;
  img{
    width: 32px;
  }
  position: relative;
}
.badge{
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: #4DAF48;
  position: absolute;
  top: -6px;
  right: 2px;
  font-size: 12px;
  font-weight: 300;
  span{
    margin-right: 4px;
  }
}

