<button (click)="opened = !opened">
  <img src="assets/images/shopping-bag.png" alt="">
  <div class="badge">
    <span>{{carts.length}}</span>
  </div>
</button>

<div class="products" *ngIf="opened">
 <div *ngFor="let c of carts">
  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-space">
      <img [src]="c.product.image" class="p-img" />
      <div>
        <p>{{c.product.title}}</p>
        <p>{{c.product.price}}</p>
      </div>
    </div>

    <div>
      <button class="next">+</button>
      <div class="quantity">{{c.quantity}}</div>
      <button class="prev">-</button>
    </div>
  </div>
 </div>
</div>
