<div class="products" data-aos="zoom-in">
  <button class="close" (click)="close()">
    <i class="fas fa-times"></i>
  </button>
  <p class="label">Mon panier</p>
  <div class="list my-3">
    <div *ngFor="let c of carts" class="border-bottom py-3">
      <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-space">
          <button class="btn" (click)="cartService.remove(c)">
            <i class="far fa-trash-alt text-danger"></i>
          </button>
          <img [src]="c.product.images[0]" class="p-img" />
          <div class="ml-3">
            <p>{{c.product.productName}}</p>
            <p class="price">{{c.product.price}} / kg</p>
          </div>
        </div>

        <div>
          <button class="next" (click)="cartService.increase(c)">+</button>
          <div class="quantity">{{c.quantity}}</div>
          <button class="prev" (click)="cartService.decrease(c)">-</button>
        </div>
      </div>
     </div>
  </div>
  <div class="d-flex justify-content-between px-4">
    <p>TOTAL</p>
    <p class="total"> F cfa</p>
  </div>
  <div class="text-center">
    <button class="rounded-button" (click)="navigate()">
      Voir le panier
    </button>
  </div>
</div>
