<div class="container mt-5 pt-5 wrapper">
  <div class="row">
    <div class="col-12 col-md-8">
      <div  data-aos="zoom-in">
        <p class="label">Mon panier</p>
        <div class=" my-3">
          <div *ngFor="let c of carts" class="border-bottom py-3">
            <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-space">

                <img [src]="c.product.image" class="p-img" />
                <div class="ml-3">
                  <p>{{c.product.title}}</p>
                  <p class="price">{{c.product.price}} / kg</p>
                  <p>{{c.product.shortDesc}}</p>
                </div>
              </div>

              <div>
                <button class="next" (click)="cartService.increase(c.product)">+</button>
                <div class="quantity">{{c.quantity}}</div>
                <button class="prev" (click)="cartService.decrease(c.product)">-</button>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div class="d-flex justify-content-around px-4">
                <p class="mr-3">TOTAL</p>
                <p class="total">{{cartService.totalByProd(c.product)}} F cfa</p>
              </div>
              <button class="btn" (click)="cartService.remove(c)">
                <i class="far fa-trash-alt text-danger"></i> Supprimer
              </button>
            </div>

           </div>

        </div>

      </div>

    </div>
    <div class="col-12 col-md-4">
      <div class="card p-4 ">
        <h3>Résumé du panier</h3>
        <div class="d-flex justify-content-between my-5">
          <h6>Sous Total</h6>
          <h6>{{cartService.getTotal()}}</h6>
        </div>
        <button class="rounded-button">PASSER LA COMMANDE</button>

      </div>
    </div>
  </div>
</div>
