.wrapper{
  min-height: 90vh;
}
.d-img{
  width: 250px;
  height: 250px;
}
.label{
  font-size: 14px;
  font-weight: 600;
  color: #7e7e7e;
}
.price, .title{
  font-size: 26px;
  color: #6cbe03;
  font-weight: 700;
}
.desc{
  border-top: .3px solid #6dbe03aa;
  font-size: 14px;
  font-weight: 600;
  color: #7e7e7e;
}

