.container{
  margin-top: 80px;
}
img{
  width: 100%;
  height: 180px;
}

.title{
  font-size: 22px;
  font-weight: 600;
}

.bolder{
  font-weight: 600;
}

.main-color{
  color: #1D9874;
}
.main-bg{
  background-color: #1D9874;
}

.btn-mgreen{
 background-color: #1D9874;
 color: #ffffff;
}

.btn-myellow{
  background-color: #FDBF26;
  color: #ffffff;
}
