

<section style="background-color: #eee;" class="container main">
  <div class="container-fluid py-5">
    <div class="row justify-content-center mb-3">
      <div  class="col-12 col-md-9 col-xl-8">
        <div *ngFor="let cart of cartService.$carts | async" class="card shadow-0 border-bottom rounded-3">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-3 col-lg-2 col-xl-2 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                  <img [src]="cart.product.images[0]"
                    class="w-100 img-fluid" />
                  <a href="#!">
                    <div class="hover-overlay">
                      <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-12 col-md-5 col-lg-7 col-xl-6">
                <h5>{{cart.product.productName}}</h5>
                <div class="d-flex flex-row">
                  <p class="card-text text-center">
                    <i *ngFor="let s of [1,2,3,4,5] " class="fas fa-star text-warning"></i>
                  </p>

                </div>

                <p class="text-truncate mb-4 mb-md-0">
                  <span>{{cart.product.desc}}</span>
                 <a href="">Voir plus</a>
                </p>
              </div>
              <div class="col-12 col-md-4 col-lg-3 col-xl-3 border-sm-start-none border-start">
                <div class="d-flex flex-row align-items-center mb-1">
                  <h4 class="mb-1 me-1">{{cart.product.price}}</h4>
                </div>
                <h6 class="text-success">Free shipping</h6>
                <div class="d-flex flex-column mt-4">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-3 col-xl-4 mt-3 mt-md-0">
          <div class="card bg-white">
            <div class="card-header bg-white text-uppercase font-size-medium">
              Résumé du panier
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between border-bottom p-3">
                <h3>Sous-total</h3>
                <h3>{{cartService.getTotal() | async}}</h3>
              </div>
              <h5 class="p-3 text-center livraison">
                Livraison gratuit
              </h5>
              <div class="mt-3 text-center">
                <button class="reservation--btn">
                  COMMANDER
                </button>
              </div>

            </div>
          </div>
      </div>
    </div>
  </div>
</section>
