.header{
  height: 570px;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 70px;
}
.btn{
  background-color: #6cbe03;
  color: #FFFFFF;
}
.banner{
  background-image: url("../../../assets/images/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 440px;
  width: 100%;
  position: absolute !important;
}
.overlayer{
  height: 440px;
  width: 100%;
  padding-top: 60px;
  background-color: rgba(0, 0, 0, 0.391);
}

.services-cover{
  position: absolute !important;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
}

.title{
  font-size: 36px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 48px;
}
.sub-title{
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
}


@media only screen and (max-width: 750px) {
  .title{
    font-size: 22px;
    line-height: 32px;
    margin-top: 20px;


   }
   .header{
    height: 370px;}
    .overlayer, .banner{
      height: 340px;}
  }
