<div class="header p-0">
  <div class="banner">
    <div class="overlayer p-3 p-md-5 ">
      <h3 class="title">Rejoignez une communauté <br/> d'agriculteurs passionnés</h3>
      <p class="sub-title mt-3">
        Profitez de nos services de collecte de fonds de coaching et de vente de produits. <br/>
        C'est simple ! Rejoignez nous maintement
      </p>

      <button class="rounded-button mt-4" (click)="navigate()">
        NOUS REJOINDRE
      </button>
    </div>
  </div>
  <div class="container p-4 rounded services-cover">
    <div class="d-flex justify-content-center">
      <div class=" m-3" *ngFor="let service of services">
        <app-service-button [service]="service"></app-service-button>
      </div>
    </div>
  </div>

</div>
