<div class="header p-0">
  <div class="banner">
    <div class="overlayer">
      <div class="row">
        <div class="col-12 col-md-6 text-center">
          <h3 class="title text-center">Rejoignez une Communauté <br/> d'Agriculteurs passionnés</h3>
          <p class="sub-title my-4 text-center">
            Nous vous Aidons à Réussir vos Projets Agricoles <br> avec nos Services conçus
            Spécialement <br/> pour Améliorer vos Performences.
          </p>
          <button class="square-button" (click)="navigate()">Nous Rejoindre ?</button>
        </div>
      </div>
    </div>
  </div>
</div>

