.card{
  border: none;
}
.card-img-top{
 height: 160px;
}
.card-body{
  padding: 0;
  position: relative;
}
.card-title{
  margin-top: 10px;
  background-color: #6cbe03;
  margin-left:  10px;
  margin-right: 10px;
  color: #FFFFFF;
  padding: 4px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
}
.card-text{
  font-size: 18px;
  padding: 8px;
}
.name{
  font-weight: bolder;
}
.c-btn{
  border: 1px solid #6cbe03 !important;
  outline: #6cbe03 !important;
  background-color: #FFFFFF;
  transition: all .55s;
  &:hover{
    background-color: #6cbe03;
    color: #FFFFFF;
  }

}


