.header-price{
  margin-top: 80px;
  height: 420px;
  background:linear-gradient(0deg, rgba(54, 161, 4, 0.498), rgba(122, 158, 2, 0.539)), url('../../../../assets/images/header-bac.jpg')  no-repeat ;
  background-size: cover;
  background-position: center;
}
