
<div class="a-box">
  <div class="img-container">
    <div class="img-inner">
      <div class="inner-skew" (click)="navigate(product.id)">
        <img [src]="product.images[0]" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="text-container">
    <h3>{{product.productName}}</h3>
    <div class="pl-2 text-left">
      <small class="devise">F CFA </small>
      <span class="price">{{product.price}}</span>
    </div>
    <div class="my-3">
     <app-star [range]="3"></app-star>
    </div>
  <div class="p-0">
      <button  class="buy--btn" *ngIf="($cart | async) == undefined" (click)="add(product)" >AJOUTER AU PANIER</button>
      <app-quantity-btn  *ngIf="($cart | async) !== undefined"  [cart]="$cart"></app-quantity-btn>
  </div>
</div>
