<div class="card mx-2" (click)="go(post.id!)">
  <div class="img p-2">
    <button class="btn rounded-circle bg-white">
      <i class="fa fa-heart text-success"></i>
    </button>
  </div>
  <h2 class="mt-3">{{post.title}}</h2>
  <h6 class="text-muted">Babacar Senghor</h6>
  <hr>
  <h3 >Budget: 200 000 f cfa</h3>
  <div class="d-flex justify-content-between ">
    <div class="align-self-center">
      <cd-timer [countdown]="true" [startTime]="100" format="hms"></cd-timer>
    </div>
    <circle-progress
        class="smooth align-self-center"
        [percent]="65"
        [radius]="20"
        [animation]="true"
        [animationDuration]="500"
        [outerStrokeWidth]="4"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeWidth]="4"
        [innerStrokeColor]="'#dddddd'"
        [space]="-3"
        [startFromZero]="false"
        [showSubtitle]="false"
        >
    </circle-progress>
  </div>
</div>
