<div class="displayTable">
  <h3>Inscription </h3>

  <div class="userType mt-5">
    <h3>Je suis </h3>
    <div class="row">
      <div *ngFor="let g of userGroup" class="col-6 col-md-3 mt-3">
        <div  class="option" [class.selected]="selected == g" (click)="selected = g"><h3>{{g.key}}</h3></div>
      </div>
    </div>
  </div>
  <div class="displayTableCell mt-5 px-0 px-md-5">

    <div class="authBlock">
      <form [formGroup]="signUpForm">
      <div class="form-group mt-3">
        <input
          type="text"
          class="form-control form-control-lg"
          placeholder="Prenom et nom"
          formControlName="name"
          required
        />
      </div>
      <div class="form-group mt-3">
        <input
          type="email"
          class="form-control form-control-lg"
          placeholder="Email"
          formControlName="userEmail"
          required
        />
      </div>
      <div class="form-group mt-3">
        <input
          type="password"
          class="form-control form-control-lg"
          placeholder="Mot de passe"
          formControlName="userPwd"
          required
        />
      </div>
      <div class="d-grid gap-2 d-md-block mt-4">
        <button
          class="rounded-button"
          [disabled]="!isFormValid()"
          (click)="signUp()"
        >S'inscrire</button>
      </div>
    </form>
    </div>
    <div class="redirect-to-login text-muted mt-3">
      <span
        > Deja un compte ?
        <span class="redirect" routerLink="/sign-in">Se connecter</span></span
      >
    </div>
  </div>
</div>
