<div class="displayTable">
  <h3>Inscription </h3>

  <div class="userType mt-3">
    <h3>Je suis </h3>
    <div class="row">
      <div class="col-4">
        <div class="option">
          <h3>Agriculteur</h3>
        </div>
      </div>
      <div class="col-4">
        <div>Ingénieur Agronome</div>
      </div>
      <div class="col-4">
        <div>Acheteur</div>
      </div>

    </div>
  </div>
  <div class="displayTableCell">

    <div class="authBlock">
      <div class="form-group mt-3">
        <input
          type="text"
          class="form-control form-control-lg"
          placeholder="Prenom et nom"
          #name
          required
        />
      </div>
      <div class="form-group mt-3">
        <input
          type="email"
          class="form-control form-control-lg"
          placeholder="Email"
          #userEmail
          required
        />
      </div>
      <div class="form-group mt-3">
        <input
          type="password"
          class="form-control form-control-lg"
          placeholder="Mot de passe"
          #userPwd
          required
        />
      </div>
      <div class="d-grid gap-2 d-md-block mt-4">
        <input
          type="button"
          class="btn"
          value="S'inscrire"
          (click)="authService.SignUp(userEmail.value, userPwd.value, name.value)"
        />
      </div>
    </div>
    <div class="redirect-to-login text-muted mt-3">
      <span
        > Deja un compte ?
        <span class="redirect" routerLink="/sign-in">Se connecter</span></span
      >
    </div>
  </div>
</div>
