<div *ngIf="product !== undefined" class="container p-5 mt-5 wrapper">
   <div class="row mt-5">
    <div class="col-12 col-md-6">
      <img [src]="product.images[0]" class="img-fluid" />
    </div>
    <div class="col-12 col-md-6">
      <h3 class="title">{{product.productName}}</h3>
      <p class="mt-3 desc pt-3">{{product.desc}}</p>
      <div class="d-flex justify-content-around align-items-center mt-5">
        <div class="align-items-end">
          <p class="label">Prix</p>
          <h5 class="price"></h5>
        </div>
        <div class="align-self-end">
          <p class="label">Quantité</p>
          <app-quantite-button   [product]="product"></app-quantite-button>
        </div>
        <div class="align-self-end">
          <button class="rounded-button" (click)="addViewCart(product, true)">
            <i class="fas fa-cart-plus"></i>
            <span >Voir le panier</span>
            <span >Ajouter au panier</span>
          </button>
        </div>

      </div>
    </div>
   </div>
   <div>
    <app-title [title]="prodTitle"></app-title>
     <div class="row">
      <div *ngFor="let p of products" class="col-12 col-md-4 col-lg-3 mt-3">
        <app-product-card [product]="p"></app-product-card>
      </div>
     </div>
   </div>
</div>
