<div class="container">
  <form [formGroup]="reservationForm">
    <label for="" class="text-muted">Période</label>
    <div class="row mt-2">
      <div class="col">
        <label for="dateDebut" class="text-muted">Du</label>
        <input type="date" id="dateDebut" class="form-control form-control-lg" formControlName="dateDebut" >
      </div>
      <div class="col">
        <label for="dateFin" class="text-muted">Au</label>
        <input type="date" id="dateFin" class="form-control form-control-lg" formControlName="dateFin">
      </div>
    </div>
      <div class="form-group my-4">
        <label for="addresse" class="text-muted">Où ?</label>
        <address-autocomplete></address-autocomplete>
      </div>
      <div class="form-group mt-3">
        <label for="comentaire" class="text-muted">Autre informations</label>
        <textarea class="form-control" id="comentaire" formControlName="comentaire" rows="3"></textarea>
      </div>
      <div class="text-center mt-4">
        <button class="square-button" (click)="navigate()">Réserver maintenant</button>
      </div>
  </form>
</div>

