<div class="container">
  <form action="">
    <label for="">Période</label>
      <div class="form-group">
        <label for="">Date de début</label>
        <div class="d-flex">
          <input type="date" class="form-control" >
          <input type="time" class="form-control" >
        </div>
      </div>
      <div class="form-group mt-3">
        <label for="">Date de fin</label>
        <div class="d-flex">
          <input type="date" class="form-control" >
          <input type="time" class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Ou ?</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group mt-3">
        <label for="exampleFormControlTextarea1">Autre informations</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

      <button class="rounded-button">Reserver</button>
  </form>
</div>
