.uploader{
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background-color: #F5F5F5;
  display: block;
  cursor: pointer;
  input{
    visibility: hidden;

  }

  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  i, mat-spinner{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    bottom: 15px;
  }
  transition: all 1s ease-in-out;
  &:hover{
    background-color: #d5d5d5;
  }
}

.prod-image{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

