.cat-item{
   width: 100%;
   height: auto;
   padding: 6px 8px;
   background-color: var(--green-color);
   border-bottom: 0.01rem solid #cccccc81;
   h3{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
   }

   color: #FFFFFF;

   img{
    width: 32px;
    margin-right: 5px;
   }
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

   transition: all .5s ease-in-out;
   &:hover{
    background-color: #F4FAF1;
    cursor: pointer;
    color: var(--green-color);

   }
}

.slide-image{
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
}

.border-circle{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 8px;
}




