<!--
<div class="cover">
 <div class="wrapper pt-5 text-center">
    <h1>Encore Plus proche des agriculteurs</h1>
    <h2>Achetez, vendez des produits agricoles entre professionnels</h2>
    <mat-card>
      <div class="search d-flex align-items-center">
        <form class="example-form">
          <input type="search"
                 placeholder="Je Rechercher ..."
                 [formControl]="searchInput"
                 [matAutocomplete]="auto"
                 class="example-input">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event)" >
            <mat-option *ngFor="let r of $searchResult | async" [value]="r.label">
              <img width="32px" [src]="r.imgLink" />
              <span>{{r.label}}</span>
            </mat-option>
          </mat-autocomplete>
        </form>
      </div>
    </mat-card>

    <div class="categorie">
      <div class="row p-0 justify-content-center">
        <div [class.border-left]="i > 0" *ngFor="let c of categories, let i = index" class="col-12 col-md-3 col-lg-2 p-0 m-0 text-center cat-item text-center">
          <span>{{c.name}}</span>
        </div>
      </div>
    </div>
 </div>
</div>
-->

<div class="container-fluid p-0">
  <div class="row p-0">
    <div class="col-12 col-md-9 p-0">
      <owl-carousel-o [options]="customOptions" >
        <ng-container *ngFor="let i of imageSlide">
          <ng-template carouselSlide [id]="i.id.toString()">
            <div style="background-image: url({{i.img}});" class="slide-image">
              <nav class="menu">
                <input checked="checked" class="menu-toggler" type="checkbox">
                <label for="menu-toggler"></label>
                <ul>
                  <li class="menu-item">
                    <a class="fas fa-cat" href=""></a>
                  </li>
                  <li class="menu-item">
                    <a class="fas fa-cookie-bite" href="#"></a>
                  </li>
                  <li class="menu-item">
                    <a class="fab fa-earlybirds" href="#"></a>
                  </li>
                  <li class="menu-item">
                    <a class="fab fa-fly"href="#"></a>
                  </li>
                  <li class="menu-item">
                    <a class ="far fa-gem" href="#"></a>
                  </li>
                  <li class="menu-item">
                    <a class="fas fa-glass-cheers" href="#"></a>
                  </li>
                </ul>
              </nav>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
    <div class="col-12 col-md-3  pt-2">
      <div class="row px-3">
        <div class="col-12 p-0">
          <div ngClass="cat-item"  *ngFor="let c of categories, let i = index" class="d-flex justify-content-space align-items-center">
            <div class="bg-white p-3 border-circle">
              <img [src]="c.icon" class="align-self-center" />
            </div>
            <div class="d-flex justify-content-between" style="width:100%;">
              <h3 class="align-self-center mt-3">{{c.name}}</h3>
              <mat-icon class="align-self-center">keyboard_arrow_right</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="card card-body p-0 mt-3">
          <img class="img-fluid" src="assets/images/small.jpg" style="height: 35vh;" />
        </div>
      </div>
    </div>
  </div>
</div>
