.cover{
  top: 0;
  left: 0;
  width: 100vw;
  height: 88vh;
  background-image: url('../../../../../assets/images/header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.wrapper{
  top: 0;
  left: 0;
  width: 100vw;
  height: 88vh;
  background: #159c20;
//background: linear-gradient(90deg, #159c20 0%, rgba(39,204,164,0) 50%, rgba(0,212,255,0) 100%);
  clip-path: polygon(0 0, 57% 0, 35% 100%, 0% 100%);

  h1{
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
  }
  h3{
    font-size: 28px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: 'Tilt Warp', cursive;
    line-height: 38px;
    text-transform: uppercase;
  }

  padding-right: 20px;

}

.join-button{
  background-color: #159c20;
  color: #FFFFFF;
  border: 1.5px solid #FFFFFF;
  box-shadow: rgba(244, 244, 244, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  padding: .8em 2em;
  transition: all 1s;
  text-decoration: none;
  &:hover{
    background-color: #FFFFFF;
    color: #159c20;

  }
}

ul {
  li{
    font-size: 16px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

  .wrapper{
    clip-path: polygon(0 0, 77% 0, 58% 100%, 0% 100%);
    h3{
      font-size: 22px !important;
    }

  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}



