.cover{
  top: 0;
  left: 0;
  width: 100vw;
  height: 88vh;
  background-image: url('../../../../../assets/images/header-bac.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 0;
}

.wrapper{
  width: 100vw;
  height: 88vh;
  background-color: #01010267;
  position: relative;
}

.categorie{
  width: 70%;
  position: absolute;
  margin-top: 30vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  .cat-item{
    display: flex;
    height: 140px;
    background-color: #6dbe0355;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
      background-color: #6dbe037e;
    }
  }


}

.border-left{
  border-left: 1px solid #6dbe037e;
}

.search{
  width: 60%;
  height: 60px;
  padding: 0;
  border-radius: 7px;
  background-color: #FFFFFF;
	box-shadow: 2px 2px 25px -7px #F4F4F4;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;

  input{
    width: 80%;
    border: none;
    height: 60px;
    outline: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding-left: 20px;
  }

  button{
    width: 20%;
    height: 60px;
    border-right: 7px;
    border: none;
    background-color: var(--orange-color);
    padding: 0 !important;
    &:active{
      scale: 1.06;
    }
    font-size: 16px;
    text-transform: uppercase;
    color: #F4F4F4;
  }

}

h1{
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #F4F4F4;
  margin-top: 36px;
}

h2{
  font-size: 16px;
  font-weight: 700;
  padding: 0 4px;
  color: #F4F4F4;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .search{
    width: 95%;


  }

  h1{
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #F4F4F4;
    margin-top: 20px;
  }

  .cat-item{
    display: block;
    height: 60px !important;
    justify-content: left;
    text-align: left;
    align-items: start;
    border-bottom: 1px solid #6dbe037e;



  }

  .search{
    margin-top: 5vh;
  }

  .categorie{
    margin-top: 20vh;

  }

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}



