<nav class="navbar navbar-expand d-flex justify-content-between align-items-center navbar-dark bg-white fixed-top px-2 px-md-3">
<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <div class="menu-list">
        <a [routerLinkActiveOptions]="{ exact: true }"  [routerLink]="['/']"        [routerLinkActive]="'is-active'" ><li>Acceuil</li></a>
        <a [routerLinkActiveOptions]="{ exact: false }" [routerLink]="['/service']" [routerLinkActive]="'is-active'"><li>Services</li></a>
        <a [routerLinkActiveOptions]="{ exact: false }" [routerLink]="['/product']" [routerLinkActive]="'is-active'"><li>Produits</li></a>
        <a [routerLinkActiveOptions]="{ exact: true }"  [routerLink]="['/post/materiel']" [routerLinkActive]="'is-active'"><li>Matériels</li></a>
        <a [routerLinkActiveOptions]="{ exact: true }"  [routerLink]="['/contact']" [routerLinkActive]="'is-active'"><li>Contact</li></a>
      </div>
    </ul>
  </div>
</nav>
 <div class="align-self-center d-flex ">
  <a class="navbar-brand align-items-center" href="#">
    <img class="logo" src="assets/images/iler.png" alt="">
  </a>
 </div>
  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link " [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/']" [routerLinkActive]="'is-active'" >
          Acceuil
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/service']" [routerLinkActive]="'is-active'" >
          Services
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLinkActiveOptions]="{ exact: false }" [routerLink]="['/product']" [routerLinkActive]="'is-active'" >
          Produits
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLinkActiveOptions]="{ exact: false }" [routerLink]="['/post/materiel']" [routerLinkActive]="'is-active'" >
          Matériels
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link "[routerLink]="['/contact']" [routerLinkActive]="'is-active'" >
         Contact
        </a>
      </li>
      <li class="nav-item">
        <app-cart></app-cart>
      </li>
      <li class="nav-item">
        <a class="nav-link btn text-dark join-btn" [href]="authService.userData != null ? 'account/'+authService.userData.uid: 'sign-in'">
          <span *ngIf="!authService.isLoggedIn">Nous rejoindre</span>
          <span *ngIf="authService.isLoggedIn">
            <i class="far fa-user fa-lg"></i>
            MON ESPACE
          </span>
        </a>
      </li>
    </ul>
  </div>
  <app-cart class="d-block d-md-none align-self-center"></app-cart>
</nav>



