.nav-link{
  font-family: 'Nunito', sans-serif;
  color: rgb(56, 56, 56);
  font-size: 14px;
  font-weight: 700;
}
.logo{
  width: 64px;

}

.menu-bar{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 32px;
  color: #FFFFFF;
  background-color: #4DAF48;
  width: 50px;
  border-radius: 4px;
}

.nav-item{
  margin: 0 8px;
}

.join-btn{
  font-size: 12px;
  font-weight: 300;
  background-color: #4DAF48;
  color: #FFFFFF !important;

}

.side-menu{
  position: fixed;
  width: 70vw;
  height: 100vh;
  z-index: 1800;
  background-color: #FFFFFF;
  transition: all 1s;
}

.close-btn{
  color: #cd4109;
  font-size: 26px;
  background-color: transparent;
  border: none;
  outline: none;
}

.menu-closed{
  margin-left: -72vw !important;

}

.is-active{
  color: #4DAF48 !important;
}

@media only screen and (max-width: 750px) {
  .navbar-collapse{
    display: none !important;
  }
  .navbar-brand{
    img{
      //margin-top: -16px;
    }

  }

}
