.product-list{
  background-color: #F4FAF1;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 30px !important;

}
.product-title{
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 22px;
  color: #144E2D;
  font-family: 'Secular One', sans-serif;
}
