<section class="materiel">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7">
        <img [src]="post.materiel.image" alt="" class="img-fluid">
        <div>
          <h3>{{post.materiel.titre}}</h3>
          <p>{{post.materiel.desc}}</p>
        </div>
      </div>
      <div class="col-12 col-md-5">
         <div class="card card-body">
          <avatar [name]="post.prop.displayName"></avatar>
          <span>{{post.prop.displayName}}</span>
         </div>
         <div class="card card-body mt-3">
           <span>{{post.prix}}</span>
           <app-materiel-reservation-form></app-materiel-reservation-form>
         </div>
      </div>
    </div>
  </div>
</section>

