<section class="container-fluid bg-white p-3 mt-5 about-section">
  <div class="row">
    <div class="col-12 col-md-6">
      <img src="/assets/images/about.jpeg" class="img-fluid" alt="">
    </div>
    <div class="col-12 col-md-6 mt-3 p-0 px-md-5">
       <p>
        Bienvenue sur notre plateforme de financement participatif pour les projets agricoles basée sur les smart contracts. Nous sommes heureux de vous offrir une solution innovante pour soutenir les projets agricoles qui ont un impact positif sur notre environnement et notre société.
       </p>
       <p>
        Notre plateforme utilise les avancées de la technologie des smart contracts pour garantir la transparence et la sécurité des transactions. Cela signifie que toutes les informations sur les projets et les investissements sont accessibles en temps réel et que les paiements sont automatiquement effectués une fois les objectifs de financement atteints.
       </p>
       <p>
        Nous avons une variété de projets agricoles en cours de financement, allant des projets de production locale bio à l'agriculture durable, en passant par la recherche sur les variétés de plantes. Nous avons également une section dédiée aux projets qui ont été financés avec succès, pour que vous puissiez voir les résultats concrets de nos efforts.
       </p>
       <p>
        Notre plateforme est facile à utiliser, vous pouvez créer une campagne de financement pour votre projet agricole ou investir dans des projets qui vous tiennent à coeur en utilisant des crypto-monnaies ou d'autres actifs numériques compatibles avec les smart contracts. Nous avons également une section FAQ pour répondre à toutes vos questions sur comment utiliser notre plateforme.
       </p>
       <div class="social-links text-right">
        <a href="#" class="social-link linkedin">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="#" class="social-link facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="social-link instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="social-link twitter">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>

  </div>
</section>
