<div class="container-fluid bg-white p-3 mt-5">
  <div class="row">
    <div class="col-12">
      <img src="/assets/images/about.jpeg" class="about" alt="">
    </div>
    <div class="col-12 mt-3">
       <p>
        Nous vous accompagnons pour lever des fonds pour votre projet agricole plus facilement grâce au financement participatif. Avec ILER votre projet à 100 % de chance de se réaliser car on vous accompagne tout au long du processus.
       </p>
       <p>
        Notre plateforme utilise les smart contrats pour plus de fiabilité et de sécurité pour les investisseurs.

        Notre plateforme repose sur les qualités:
       </p>
       <ul class="list-unstyled mt-3">
        <li>
          <img src="/assets/images/lock.png" alt="">
          <span>Fiabilite et securite</span>
        </li>
        <li>
          <img src="/assets/images/investing.png" alt="">
          <span>Retour sur investissement</span>
        </li>
        <li>
          <img src="/assets/images/safe.png" alt="">
          <span>Accompagnement 100%</span>
        </li>
       </ul>
    </div>
  </div>
</div>
