.banner{
  background-image: url("../../../assets/images/shop-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 260px;
  background-color: greenyellow;
  margin-top: -12px;
  margin-bottom: -20px;
  padding-top: 40px;
  padding-left: 30px;
  .text{
    font-size: 36px;
    font-weight: 700;
    line-height: 65px;
  }
}
