.header{
  height: 89vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 70px;
}
.btn{
  background-color: var(--green-color);
  color: #FFFFFF;
}
.banner{
  background-image: url("../../../../../assets/images/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 89vh;
  width: 100%;
  position: absolute !important;
}
.overlayer{
  height: 89vh;
  width: 100%;
  background-color: rgba(160, 160, 160, 0.569);
  padding-top: 25vh;
  padding-left: 20px;
}

.services-cover{
  position: absolute !important;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
}

.title{
  font-size: 28.6px;
  font-weight: 770;
  color: var(--dark-color);
  line-height: 40px;
}
.sub-title{
  font-size: 14px;
  font-weight: 700;
  color: var(--dark-color);
}


@media only screen and (max-width: 750px) {
  .title{
    font-size: 22px;
    line-height: 32px;
    margin-top: 20px;


   }
}
