<div class="top-nav">
  <div class="container-fluid p-0 px-5 py-3 main-nav">
    <!--start top nav-->
      <div class="d-flex justify-content-between align-items-center">
        <span class="brand">
          <img src="assets/images/iler.png" />
        </span>
        <div class="search-bar d-md-flex justify-content-between d-none">
          <input type="search" placeholder="Rechercher ... " />
          <button>Rechercher</button>
        </div>
        <div class="d-flex align-items-center">
          <a href="">
            <i class="fa fa-user fa-lg text-white"></i>
          </a>
          <div style="width: 20px;"></div>
         <app-cart></app-cart>
        </div>
      </div>
    <!--end top nav-->
  </div>
  <div class="d-flex">
    <button class="bars">
      <i class="fa fa-bars fa-lg text-muted" aria-hidden="true"></i>
    </button>
    <div class="search-bar justify-content-between ">
      <input type="search" placeholder="Rechercher ... " />
      <button>Rechercher</button>
    </div>
  </div>

  <div class="bottom-nav d-none d-md-block">
    <nav class="navbar navbar-expand-lg" style="background-color: #FFFFFF;">
      <div class="container-fluid" style="background-color: #FFFFFF;;">
        <div class="collapse navbar-collapse px-5" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Acceuil</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Nos services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Appros de nous</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Nous-contacter</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

</div>




