.container {
  margin-top: 20px;
  min-height: 50vh;

}

.panel{
  height: 85vh;
  background-image: url('../../../assets/images/panel.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-panel{
  height: 85vh;
  background-color: #ffffff;
  padding-top: 20vh;
}
