<div class="card" data-aos="zoom-in" data-aos-duration="1500">
  <div class="card-img p-4 text-center">
    <img [src]="product.image" alt="{{product.title}}"  class="img-fluid">
    <div class="details text-center">
      <button class="d-btn" (click)="navigate(product.id!)">
        <i class="far fa-eye"></i>
      </button>
      <div style="width: 8px"></div>
      <button class="d-btn ">
        <i class="fas fa-heart"></i>
      </button>
    </div>
  </div>
  <div class="card-body text-center mb-3 mt-3">
  <h5 class="card-title text-center">{{product.title}}</h5>
    <p class="card-text text-center">
      <i *ngFor="let s of [1,2,3,4,5] " class="fas fa-star text-warning"></i>
    </p>
    <h5  class="text-center">
      <span>CFA </span>
      <span class="price mx-2"> {{product.price}}</span>
      <span> / kg</span>
    </h5>
    <button class="btn btn-block text-white" (click)="add(product)">
      <i class="fas fa-cart-plus"></i>
      Ajouter au panier
    </button>
  </div>
</div>
