<div class="container">
  <div class="card card-body py-4" >
    <h3>Authentification</h3>
    <div class="display-table">
      <div class="display-table-cell">
        <div class="auth-block">
          <div class="form-group">
            <input type="text" class="form-control form-control-lg" placeholder="Email" #userName required>
          </div>
          <div class="form-group mt-3">
            <input type="password" class="form-control form-control-lg" placeholder="Mot de passe" #userPassword required>
          </div>
          <!-- Calling SignIn Api from AuthService -->
          <div class="d-grid gap-2 d-md-block">
            <input type="button" class="btn btn-lg mt-5" value="Se connecter" (click)="authService.SignIn(userName.value, userPassword.value)">
          </div>

          <!-- Calling GoogleAuth Api from AuthService -->
          <div class="d-grid gap-2 d-md-block mt-5">
            <button type="button" class="btn google-btn" (click)="authService.GoogleAuth()">
              <i class="fab fa-google-plus-g"></i>
              Utiliser mon compte google
            </button>
          </div>
          <div class="forgot-password text-muted my-3">
            <span routerLink="/forgot-password">Mot de passe oublie ?</span>
          </div>
        </div>
        <div class="redirect-to-login text-muted">
          <span>Pas encore de compte ?<span class="redirect" routerLink="/sign-up"> Creer un compte </span></span>
        </div>
      </div>
    </div>

</div>
