<div class="container">
  <h3>Demarrer ma campagne</h3>

  <div class="mt-3">
    <form [formGroup]="campagnForm" (ngSubmit)="save()">
      <div>
        <span for="">Ajouter une image</span>
        <img *ngIf="url != undefined" src="{{url}}" alt="" style="width: 100%; height: 130px;" />

        <label *ngIf="url == undefined" for="upload" class="upload-label border"  >
          <input type="file"  accept="image/*"  id="upload" (change)="onChange($event)"/>
          <i class="fa fa-image text-muted"></i>
        </label>
      </div>
      <div class="mb-3 mt-4">
        <label class="form-label">Titre</label>
        <input type="text" class="form-control" formControlName="title" >
      </div>
      <div class="mb-3 mt-4">
        <label class="form-label">Montant</label>
        <input type="number" class="form-control" [ngClass]="{'is-invalid':isSubmitted && campagnForm.controls.amount.errors}" formControlName="amount" >
        <div *ngIf="isSubmitted && campagnForm.controls.amount.errors" class="text-danger">
          <div *ngIf=" campagnForm.controls.amount.errors.required">
            Montant obligatoire
          </div>
          <div *ngIf=" campagnForm.controls.amount.errors.min">
            Montant min 250 000
          </div>
          <div *ngIf=" campagnForm.controls.amount.errors.max">
            Montant max 10 000 0000
          </div>
      </div>
      </div>
      <div class="row g-3">
        <div class="col">
          <label  class="form-label">Date debut</label>
          <input type="date" class="form-control" formControlName="startDate" >
        </div>
        <div class="col">
          <label  class="form-label">Date fin</label>
          <input type="date" class="form-control" formControlName="endDate" >
        </div>
      </div>
      <div class="mb-3 mt-4">
        <label class="form-label">Description du projet (300 mots max)</label>
        <textarea class="form-control"  rows="3" formControlName="description"></textarea>
      </div>
      <div  class="text-center">
        <button class="btn btn-block " [disabled]="!campagnForm.valid">Creer la campagne</button>

      </div>
    </form>
  </div>
</div>
