#upload{
  visibility: hidden;
}

.upload-label{
  display: flex;
  height: 120px;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: relative;
  i{
    position: absolute;
    top: 20%;
    left: 40%;
    font-size: 65px;
  }
}

h3{
  font-size: 22px;
}
.is-invalid{
  color: rgb(207, 63, 63);
}


.btn{
  background-color: #1d9873;
  color: #ffffff;
  border-radius: 20px;
  margin-top: 1.5rem;

}
