/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

:root {
  --green-color: #6cbe03;
  --background-color: #e5e5e5;
  --dark-color: #374151;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #F6F6F6 !important;
  overflow-x: hidden;
  font-size: 12px;

 }
 body{
  overflow-y: hidden;

 }

.mat-card{
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif !important;
}

.title{
  font-size: 16px;
  font-weight: 700;
  color: var(--dark-color);
}

.card-title{
  font-size: 13.5px;
  font-weight: 700;
  color: var(--dark-color);
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background-color: #6cbe03 ;
}

.autocomplete-container {
  box-shadow: none !important;
  padding: 0 !important;

}

.autocomplete-container input{
  border-radius: 29px !important;
}

.rounded-button {
  padding: 10px 20px;
  background-color: #6cbe03;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 13px;
  cursor: pointer;
  font-weight: 500;
}

.square-button {
  padding: 10px 20px;
  background-color: #6cbe03;
  color: white;
  border-radius: 12px;
  border: none;
  font-size: 13px;
  cursor: pointer;
  font-weight: 500;
}




