/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
$color-primary: #4c4c4c;
$color-secondary: #a6a6a6;
$color-highlight: #ff3f40;

:root {
  --green-color: #6cbe03;
  --background-color: #e5e5e5;
  --dark-color: #374151;
  --red-color: rgb(247, 35, 56);
  --orange-color: #FFA500;
  --color-secondary: #a6a6a6;


}

html, body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  font-size: 12px;
  background-color: #F4FAF1;
 }

 body{
  overflow-y: hidden;

 }

.mat-card{
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif !important;
}

.title{
  font-size: 16px;
  font-weight: 700;
  color: var(--dark-color);
}

.card-title{
  font-size: 13.5px;
  font-weight: 700;
  color: var(--dark-color);
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background-color: #6cbe03 ;
}

.autocomplete-container {
  box-shadow: none !important;
  padding: 0 !important;

}

.autocomplete-container input{
  border-radius: 29px !important;
}

.rounded-button {
  padding: 10px 20px;
  background-color: #6cbe03;
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 13px;
  cursor: pointer;
  font-weight: 500;
}

.square-button {
  padding: 10px 20px;
  background-color: #6cbe03;
  color: white;
  border-radius: 12px;
  border: none;
  font-size: 13px;
  cursor: pointer;
  font-weight: 500;
}



.mat-mdc-snack-bar-container {
  &.error-snack {
    --mdc-snackbar-container-color: var(--red-color);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.dialog{
  overflow: hidden !important;
}

.buy--btn {
	padding: 1.2em 3.6em;
	border: none;
	border-radius: 7px;
	font-size: 0.6em;
	font-weight: 700;
	letter-spacing: 1.3px;
	color: #fff;
	background-color: var(--orange-color);
	box-shadow: 2px 2px 25px -7px $color-secondary;
	cursor: pointer;

	&:active {
		transform: scale(0.97);
	}
}

.rent--btn {
  width: 90%;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
	padding: .8em 2.3em;
	border: none;
	border-radius: 7px;
	font-size: 1.2em;
	font-weight: 700;
	letter-spacing: 1.3px;
	color: #fff;
	background-color: var(--orange-color);
	box-shadow: 2px 2px 25px -7px $color-secondary;
	cursor: pointer;

	&:active {
		transform: scale(0.97);
	}
}

.reservation--btn {
  width: 80%;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
	padding: .8em 2em;
	border: none;
	border-radius: 7px;
	font-size: 1.2em;
	font-weight: 700;
	letter-spacing: 1.3px;
	color: #fff;
	background-color: var(--orange-color);
	box-shadow: 2px 2px 25px -7px $color-secondary;
	cursor: pointer;

	&:active {
		transform: scale(0.97);
	}
}

app-root{
  z-index: 2;
}

app-toast, .toast-class {   z-index: 16; }

.loader{
  position: absolute !important;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 16;
}

.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-icon-color: var(--green-color);
  --mdc-checkbox-selected-hover-icon-color: var(--green-color);
  --mdc-checkbox-selected-focus-icon-color: var(--green-color);
  --mdc-checkbox-selected-pressed-icon-color: var(--green-color)
}

.mat-mdc-checkbox.mat-accent .mdc-checkbox--selected~.mdc-checkbox__ripple {
  background: #6dbe0348;
}



::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;

}

::-webkit-scrollbar-thumb {
  background-color: var(--green-color);
  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

