.title{
  background-color: #FFFFFF;
  padding: 8px 20px ;
  color: var(--dark-color);
  text-transform: uppercase;
}

button{
  background-color: transparent;
  color: var(--green-color);
  border: none;
  outline: none;
  font-size: 12px;
}

